# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
## Ignore Gradle build output directory
build
## Ignore Gradle project-specific cache directory
.gradle

# other
eclipse
run
runs
run-data

repo

# Kotlin
.kotlin

# Minecraft
run